@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    min-height: 400px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0.95);
}

.container.visible {
    opacity: 1;
    transform: scale(1);
}

input[type="text"], input[type="password"], button {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="password"] {
    background-color: #f9f9f9;
    color: #333;
}

button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.message {
    color: #ff0000;
}

.quiz-option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 5px;
}

.quiz-option input {
    margin-right: 10px;
}

label {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

#next-button, #results-button {
    margin-top: 20px;
    width: 100%;
}

#circle-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 20px auto;
}

#circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#007bff 0%, #007bff var(--percentage, 0%), #e0e0e0 var(--percentage, 0%));
    display: flex;
    justify-content: center;
    align-items: center;
}

#percentage {
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    
    input[type="text"], input[type="password"], button {
        width: calc(100% - 30px);
        margin: 7.5px auto;
    }
}
